* {
    padding: 0;
    margin: 0;
    border: 0;
}

header img {
    width: 100%;
    float: center;
}

nav {
    padding: 5px 0;
	width: 100%;
	background-color: #18d855;
	min-height: 50px;
}

nav ul {
    display: block;
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    width: 15%;
    background-color: #18d855;
    margin-top: .8%;
}

nav ul li a {
    color: #ab7153;
	text-decoration: none;
	font-size: 1.5em;
}

nav ul li:hover {
    background-color: #a8a7a3;
    text-decoration: underline;
    text-decoration-color: #ab7153;
}

nav ul li a:hover {
    color: #ab7153;
    text-decoration-color: #ab7153;
}

main {

}

#caveColor {
    background-color: #ab7153;
}

#groundLevel {
    padding: 3% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
    background-color: aliceblue;
    color: black;
}

.homeIMG {
    float: right;
    padding: 15px;
}

#blueCavebackground {
    background-color: #1221af;
}

#blueCAVE {
    padding: 3% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
    background-color: aliceblue;
    color: black;
}

.equipmentsIMG {
    float: right;
    padding: 15px;
    height: 500px;
    width: 700px;
}

#purplecaveBackground {
    background-color: #795399;
}

#purpleCAVE {
    padding: 3% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
    background-color: aliceblue;
    color: black;
}

.enemiesImg {
    float: right;
    padding: 15px;
    height: 300px;
    width: 500px;
}

#redcaveBackground {
    background-color: #561108;
}

#redCAVE {
    padding: 3% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
    background-color: aliceblue;
    color: black;
}

.bossIMG {
    float: right;
    padding: 15px;
    height: 300px;
    width: 500px;
}

#newsletterbackground {
    background-color: #357afe;
}

#newsletter {
    padding: 3% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
    background-color: aliceblue;
}

.newsletterIMG {
    padding: 15px;
    float: right;
    height: 300px;
    width: 500px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 1em;
    border-color: black;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

label {
	color: black;
    font-size: 1.5em;
}

input {
    height: 2em;
    width: 17em;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
    font-weight: bold;
    background-color: black;
    color: aliceblue;
    border: 5px double black;
}

.frmButton {
	width: 10em;
}

.frmButton:active {
	background-color: #357afe;
}

.sourcesIMG {
    float: right;
    padding: 15px;
    height: 400px;
    width: 500px;
}

footer {
    text-align: center;
    background-color: aliceblue;
}