* {
    padding: 0;
    margin: 0;
    border: 0;
}

header img {
    width: 100%;
    float: center;
}

nav {
    padding: 5px 0;
	width: 100%;
	background-color: #18d855;
	min-height: 50px;
}

nav ul {
    display: block;
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    width: 15%;
    background-color: #18d855;
    margin-top: .8%;
}

nav ul li a {
    color: #ab7153;
	text-decoration: none;
	font-size: 1.5em;
}

nav ul li:hover {
    background-color: #a8a7a3;
    text-decoration: underline;
    text-decoration-color: #ab7153;
}

nav ul li a:hover {
    color: #ab7153;
    text-decoration-color: #ab7153;
}

main {

}

#caveColor {
    background-color: #ab7153;
}

#groundLevel {
    padding: 3% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
    background-color: aliceblue;
    color: black;
}

.homeIMG {
    float: right;
    padding: 15px;
}

#blueCavebackground {
    background-color: #1221af;
}

#blueCAVE {
    padding: 3% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
    background-color: aliceblue;
    color: black;
}

.equipmentsIMG {
    float: right;
    padding: 15px;
    height: 500px;
    width: 700px;
}

#purplecaveBackground {
    background-color: #795399;
}

#purpleCAVE {
    padding: 3% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
    background-color: aliceblue;
    color: black;
}

#redcaveBackground {
    background-color: #561108;
}

#redCAVE {
    padding: 3% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
    background-color: aliceblue;
    color: black;
}

table {

}

footer {
    text-align: center;
    background-color: aliceblue;
}